body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("cafebackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: cornsilk;
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.main-section {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left, .right  {
    width: 50%;
    background-color: beige;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery img {
    width: 45%;
    border-radius: 10px;
}

.footer {
    background-color: cornsilk;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

#forms{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    padding: 10px;
}
input, textarea, select{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid;
    font-size: 14px;
}

input:focus, textarea:focus, select:focus{
    border-color: rgb(106, 156, 156);
    outline: none;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(132, 170, 177);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    transform: scale(1);
    background-color: burlywood;
}
@media (max-width:768px){
    #forms{
        grid-template-columns: 1fr;
    }
}